doctype html
html
   head
      title Form
   body
      form(action="/" method="post")
         div
            label(for="name") Name:
            input(type="text" id="name" name="name" required)
         div
            label(for="email") Email:
            input(type="string" id="email" name="email" required)
         //- div
         //-    label(for="nationality") Nationality:
         //-    input(type="text" id="nationality" name="nationality" required)
         div
            button(type="submit") Submit
