doctype html
html
  head
    title Login
  body
    form(action="/loginUser" method="POST")
      label(for="email") Email:
      input(type="email" name="email" required)
      label(for="password") Password:
      input(type="password" name="password" required)
      button(type="submit") Login
    div
      // Forgot Password form with button
      form(action="/getResetPasswordPage" method="GET")
        button(type="submit") Forgot Password
