doctype html
html
  head
    title Add Person
  body
    h1 Add a New Person
    form(action="/person", method="post")
      div
        label(for="name") Name:
        input(type="text", name="name")
      div
        label(for="email") Email:
        input(type="text", name="email")
      div
        button(type="submit") Submit
