<!DOCTYPE html>
<html>
<head>
   <title>Protected page</title>
</head>
<body>
   <div>Hey #{user.name}, How are you doing today?</div>
   <div>Your password is #{user.password}</div>
   <div>Want to log out?</div>
   <div>
      <!-- Form with a submit button to log out -->
      <form action="/logoutUser" method="GET">
         <button type="submit">Logout</button>
      </form>
        <!-- Delete with a submit button to log out -->
      <form action="/deleteUser" method="POST">
         <button type="submit">Delete</button>
      </form>
   </div>
</body>
</html>
