doctype html
html
  head
    title Forgot Password
  body
    h1 Reset Your Password
    form(action="/resetPassword" method="POST")
      label(for="email") Email:
      input(type="email" name="email" required)
      label(for="newPassword") New Password:
      input(type="password" name="newPassword" required)
      button(type="submit") Reset Password
